img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

figure {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

section {
    width: 40%;
    margin: 0;
    padding: .5em 2%;
    background: #262525;
    background: rgba(38, 37, 37, .85);
    position: absolute;
    /*transform: translate(-50%, -80%); Keeps figcaption centered*/
}

#bubble1{
    top: 0;
    left: 0;
    animation: northWest 3s;
}

#bubble2{
    top: 0;
    right: 0;
    animation: northEast 3s;
}

#bubble3{
    bottom: 0;
    right: 0;
    animation: southEast 3s;
}

#bubble4{
    bottom: 0;
    left: 0;
    animation: southWest 3s;
}

@keyframes northWest {
  0% {
    opacity: 0;
    transform: translate(5px, 5px); /*horizontal, vertical*/
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes northEast {
  0% {
    opacity: 0;
    transform: translate(-5px, 5px); /*horizontal, vertical*/
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes southEast {
  0% {
    opacity: 0;
    transform: translate(-5px, -5px); /*horizontal, vertical*/
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes southWest {
  0% {
    opacity: 0;
    transform: translate(5px, -5px); /*horizontal, vertical*/
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/*Fonts*/
p {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 1.8;
    color: #FFF;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: #FFF;
    text-align: center;
}


@media (min-width: 300px) {
    p, h2 {
        font-size: .875em;
    }
}

@media (min-width: 600px) {
    h2 {
        font-size: 1em;
    }
}

@media (min-width: 900px) {
    h2 {
        font-size: 1.2em;
    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 1.4em;
    }
}