img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    background: #000;
    display: flex;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

@media (min-width: 300px) {
    .container {
        flex-flow: column nowrap;  
    }
}

@media (min-width: 600px) {
    .container {
        flex-flow: row wrap;
    }
}

/*ID for large figure*/
#pano {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    cursor: pointer;
    position: relative;
}

/*IDs for "next" and "replay" icons*/
#next, #replay {
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
    background: rgba(242, 242, 242, .8);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /*main axis*/
    align-items: center; /*cross axis*/
}

/*Makes icon invisible*/
.invisible {
    opacity: 0;
}

/*Fades icon in*/
.fade-in {
    animation: fadeIn 2s ease-in-out;
}

/*Animation for #next, #replay*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav {
    margin: 0;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /*main axis*/
    align-items: center; /*cross axis*/
}

@media (min-width: 300px) {
    nav {
        width: 90%;
        padding: 1em 5%;
    }
}

@media (min-width: 600px) {
    nav {
        width: 70%;
        padding: .5em 15% 0 15%;
    }
}

/*ID for SVG (small circles)*/
#circles-sm {
    width: 600px;
    height: auto;
    margin: 0;
    padding: 0;
}

/*The circles themselves.*/
circle {
    cursor: pointer;
}

section {
    margin: 0;
    padding: 0 5%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

@media (min-width: 300px) {
    section {
        width: 90%;
    }
}

@media (min-width: 600px) {
    section {
        width: 65%;
    }
}

#thumb {
        margin: 0;
        flex: initial; /*flex: 0 1 auto*/
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start; /*cross axis*/
}

/*ID for smaller figure*/
@media (min-width: 300px) {
    #thumb {
        width: 90%;
        padding: 1em 5%;
        justify-content: center; /*main axis*/
    }
}

@media (min-width: 600px) {
    #thumb {
        width: 20%;
        padding: 1em 5% 1em 0;
        justify-content: flex-end; /*main axis*/
    }
}

/*Fonts*/
p {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 1.8;
    color: #FFF;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: .25em;
    color: #FFF;
}

@media (min-width: 300px) {
    p, h2 {
        font-size: .875em;
    }
}

@media (min-width: 600px) {
    h2 {
        font-size: 1em;
    }
}

@media (min-width: 900px) {
    h2 {
        font-size: 1.2em;
    }
}