img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

figure {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

figcaption {
    width: 25%;
    margin: 0;
    padding: .5em;
    text-align: center;
    background: #000;
    border: 4px solid #FFF;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%); /*Keeps figcaption centered*/
}

section {
    width: 20%;
    margin: 0;
    padding: .5em 2.5%;
    background: #FFF;
    background: rgba(255, 255, 255, .95);
    border: 1px solid #757575;
    position: absolute;
}

/*Fonts*/
figcaption {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 1.5;
    color: #FFF;
}

p {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 1.8;
}

@media (min-width: 300px) {
    figcaption, p {
        font-size: .875em;
    }
}

@media (min-width: 600px) {
    figcaption, p {
        font-size: 1em;
    }
}

@media (min-width: 900px) {
    figcaption {
        font-size: 1.2em;
    }
}

@media (min-width: 1200px) {
    figcaption {
        font-size: 1.4em;
    }
}