img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    background: #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

figure {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    position: relative;
    cursor: pointer;
}

nav {
    width: 70%;
    margin: 0;
    padding: .5em 15% 0 15%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /*main axis*/
    align-items: center; /*cross axis*/
}

/*ID for SVG (small circles)*/
#circles-sm {
    width: 600px;
    height: auto;
    margin: 0;
    padding: 0;
}

/*Shape in SVG*/
circle {
    cursor: pointer;
}

section {
    width: 90%;
    height: 10em;
    margin: 0;
    padding: 0 30% 0 5%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start; /*main axis*/
    align-items: stretch; /*cross axis*/
}

/*Fonts*/
p {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 1.8;
    color: #FFF;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: .25em;
    color: #FFF;
}

@media (min-width: 300px) {
    p, h2 {
        font-size: .875em;
    }
}

@media (min-width: 600px) {
    h2 {
        font-size: 1em;
    }
}

@media (min-width: 900px) {
    h2 {
        font-size: 1.2em;
    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 1.4em;
    }
}