img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em 2em 0 2em;
    background: #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

nav {
    width: 100%;
    height: 2em;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    background: #000;
}

svg {
    width: 100%;
    margin: 0;
    padding: 0;
}

figure {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    position: relative;
}

section {
    width: 40%;
    margin: 0;
    padding: .5em 2%;
    background: #F2F2F2;
    background: rgba(242, 242, 242, .90);
    position: absolute;
    /*transform: translate(-50%, -80%); Keeps figcaption centered*/
}

/*Fonts*/
p {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 1.8;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

@media (min-width: 300px) {
    p, h2 {
        font-size: .875em;
    }
}

@media (min-width: 600px) {
    h2 {
        font-size: 1em;
    }
}

@media (min-width: 900px) {
    h2 {
        font-size: 1.2em;
    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 1.4em;
    }
}