img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0.5em auto;
    padding: 1em 0;
    background: #fcfcff;
    border: 1px solid #72787e;
    border-radius: 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

/* ID for large figure */
#pano {
    width: 95%;
    margin: 0;
    padding: 0 2.5%;
    flex: initial; /* flex: 0 1 auto */
    position: relative;
}

/* IDs for "next" and "replay" icons */
#next,
#replay {
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
    background: rgba(242 242 242 / 80%);
    border-radius: 50%;
    position: absolute;
    top: 95%;
    left: 95%;
    transform: translate(-95%, -95%);
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    cursor: pointer;
}

@media (width >= 300px) {
    #next,
    #replay {
        width: 32px;
        height: 32px;
    }
}

@media (width >= 600px) {
    #next,
    #replay {
        width: 48px;
        height: 48px;
    }
}

/* Makes icon invisible/visible */
.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
}

/* Fades icon in */
.fade-in {
    animation: fade-in 2s ease-in-out;
}

/* Animation for #next, #replay */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

nav {
    width: 95%;
    margin: 1em 2.5%;
    padding: 0;
    /*background: #d0e4ff;*/
    background: #cde5ff;
    border-radius: 8px;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
}

/* ID for SVG (small circles) */
#circles-sm {
    width: 80%;
    margin: 0;
    padding: 0 10%;
    flex: initial; /* flex: 0 1 auto */
}

/* The circles themselves. */
circle {
    cursor: pointer;
}

main {
    width: 95%;
    margin: 0 2.5%;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start; /* cross axis */
}

section {
    margin: 0;
    flex: initial; /* flex: 0 1 auto */
}

#thumb {
    max-width: 200px;
    margin: 0;
    padding: 0.75em 0;
    flex: initial; /* flex: 0 1 auto */
}

@media (width >= 300px) {
    main {
        justify-content: center; /* main axis */
    }

    section {
        width: 100%;
        height: 13em;
        padding: 0;
    }

    #thumb {
        width: 62.5%; /* assuming smallest screen is 320px */
    }
}

@media (width >= 400px) {
    section {
        height: 12.2em;
    }

    #thumb {
        width: 50%;
    }
}

@media (width >= 500px) {
    section {
        height: 11.8em;
    }

    #thumb {
        width: 40%;
    }
}

@media (width >= 600px) {
    main {
        justify-content: space-between; /* main axis */
    }

    section {
        width: 75%;
        height: 14em;
        padding: 0 5% 0 0;
    }

    #thumb {
        width: 20%;
    }
}

@media (width >= 700px) {
    section {
        height: 12em;
    }
}

@media (width >= 800px) {
    section {
        height: 10.6em;
    }
}

/* Fonts */
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.8;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: #1a1c1e;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.4;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #1a1c1e;
}

@media (width >= 300px) {
    p {
        font-size: 0.8125em; /* 13px */
    }

    h2 {
        font-size: 0.9375em; /* 15px */
    }
}

@media (width >= 400px) {
    p {
        font-size: 0.875em; /* 14px */
    }

    h2 {
        font-size: 1em; /* 16px */
    }
}

@media (width >= 500px) {
    p {
        font-size: 0.9375em; /* 15px */
    }

    h2 {
        font-size: 1.0625em; /* 17px */
    }
}

@media (width >= 600px) {
    p {
        font-size: 1em; /* 16px */
    }

    h2 {
        font-size: 1.125em; /* 18px */
    }
}
