img {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
}

figure {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

figcaption {
    width: 60%;
    margin: 0;
    padding: .6em 4%;
    text-align: center;
    background: #ffb300;
    position: absolute;
    top: 50%; /*Keeps figcaption centered*/
    left: 50%; /*Keeps figcaption centered*/
    transform: translate(-50%, -50%); /*Keeps figcaption centered*/
}

.title {
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    display: inline-block;
    margin: 0 .2em; /*adds space before, after "Thanksgiving"*/
}

.sub-title {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    display: inline-block;
}

@media (min-width: 300px) {

    figcaption {
        border: 2px solid #c68400;
    }

    .title {
        font-size: 0.825em;
        line-height: 1;
    }

    .sub-title {
        font-size: 0.675em;
        line-height: 1;
    }
}

@media (min-width: 625px) {

    figcaption {
        border: 4px solid #c68400;
    }

    .title {
        font-size: 1.5em;
        line-height: 1.2;
    }

    .sub-title {
        font-size: 0.9em;
        line-height: 1.2;
    }
}

@media (min-width: 900px) {

    figcaption {
        border: 6px solid #c68400;
    }

    .title {
        font-size: 2em;
        line-height: 1.4;
    }

    .sub-title {
        font-size: 1.2em;
        line-height: 1.4;
    }
}

@media (min-width: 1200px) {

    /*figcaption border inherited*/

    .title {
        font-size: 2.6em;
        line-height: 1.6;
    }

    .sub-title {
        font-size: 1.5em;
        line-height: 1.6;
    }
}