img {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
}

figure {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

figcaption {
    width: 60%;
    margin: 0;
    padding: .6em 4%;
    color: #000;
    text-align: center;
    background: #ffb300;
    border: 6px solid #fafafa;
    position: absolute;
    bottom: 2em;
    left: 15.6%; 
    /*figcaption is 60% of 1500px = 900px; figcaption padding is 8% of 1500px = 120px; border is 12px. Total is 1032px. 1500px - 1032px = 468px. 468px / 2 = 234px. 234px / 1500px = 15.6%*/
}

.title {
    font-family: 'Francois One', sans-serif;
    font-size: 2em;
    line-height: 1.5;
    font-weight: bold;
    display: inline-block;
    margin: 0 .2em;
}

.sub-title {
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: normal;
    display: inline-block;
}

@media (min-width: 300px) {

    .title {
        font-size: 0.875em;
        line-height: 1;
    }

    .sub-title {
        font-size: 0.675em;
        line-height: 1;
    }

}

@media (min-width: 600px) {

    .title {
        font-size: 1.5em;
        line-height: 1.2;
    }

    .sub-title {
        font-size: 0.9em;
        line-height: 1.2;
    }
}

@media (min-width: 900px) {

    .title {
        font-size: 2em;
        line-height: 1.4;
    }

    .sub-title {
        font-size: 1.2em;
        line-height: 1.4;
    }
}

@media (min-width: 1200px) {

    .title {
        font-size: 2.6em;
        line-height: 1.6;
    }

    .sub-title {
        font-size: 1.5em;
        line-height: 1.6;
    }
}