/* @link https://utopia.fyi/type/calculator?c=320,14,1.25,1280,17,1.25,2,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --fs-1: clamp(0.7rem, 0.65rem + 0.25vw, 0.85rem);
  --fs0: clamp(0.875rem, 0.8125rem + 0.3125vw, 1.0625rem);
  --fs1: clamp(1.0938rem, 1.0156rem + 0.3906vw, 1.3281rem);
  --fs2: clamp(1.3672rem, 1.2695rem + 0.4883vw, 1.6602rem);
}

/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    margin-top: 0;
    background: #f6fafe;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Pano elements */
.full-width-container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    flex: initial;
    position: sticky;
    top: 0;
    z-index: -1;
}

/*@media (min-width: 600px) {
    .pano {
        position: relative;
    }
}*/

figure.full-width {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.full-width-title {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    position: absolute;
    top: 2em;
    text-align: center;
    z-index: 999;
}

.full-width-img {
    width: 100vw;
}

@media (min-width: 960px) {
    .full-width-img {
        height: 100vh;
        object-fit: cover;
    }
}

.full-width-caption {
    margin: 0 5%;
    padding: 0.5em 0.75em;
    background: #f6fafe;
    position: absolute;
    bottom: 2em;
    display: inline-block;
    z-index: 999;
}

section {
    width: 90%;
    height: 120vh;
    margin: 0;
    padding: 0 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    z-index: 999;
}

.content-box {
    width: 50%;
    margin: 0;
    padding: 0.75em;
    background: #f6fafe;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.content-box-text {
    width: 65%;
    margin: 0;
    padding: 0;
}

figure.portrait {
    width: 25%;
    margin: 0;
    padding: 0;

}

/* FONTS */
h1 {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs2);
    line-height: 1.5;
    color: #fff;
}

h2 {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs2);
    line-height: 1.2;
    margin-bottom: 0.25em;
    color: #121212;
}

p {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 100 - 900 */
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: var(--fs0);
    line-height: 1.5;
    margin-top: 0.25em;
    color: #121212;
}

figcaption {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 100 - 900 */
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: var(--fs-1);
    line-height: 1.8;
    color: #545454;
}