/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    background: #fffbff;
}

/* Image becomes no larger than actual size. */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

#container {
    width: 100%;
    max-width: 1280px;
    height: auto;
    /*min-height: 100vh;*/
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

header {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    text-align: center;
    flex: initial;
}

.thumbs {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start; /* cross axis */
}

.thumb {
    padding: 0;
    flex: initial;
}

@media (min-width: 300px) and (max-width: 499px) {
    .thumbs {
        justify-content: center; /* main axis */
    }

    .thumb {
        width: 23%;
        margin: 1%;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .thumbs {
        justify-content: center; /* main axis */
    }

    .thumb {
        width: 18%;
        margin: 1%;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    .thumbs {
        justify-content: center; /* main axis */
    }

    .thumb {
        width: 16%;
        margin: 1%;
    }
}

@media (min-width: 700px) and (max-width: 799px) {
    .thumbs {
        justify-content: center; /* main axis */
    }

    .thumb {
        width: 14%;
        margin: 1%;
    }
}

@media (min-width: 800px) and (max-width: 899px) {
    .thumbs {
        justify-content: center; /* main axis */
    }

    .thumb {
        width: 12%;
        margin: 1%;
    }
}

@media (min-width: 900px) {
    .thumbs {
        justify-content: space-between /* main axis */
    }

    .thumb {
        width: 10%;
        margin: 0;
    }
}

.thumb:hover {
    cursor: pointer;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background: #000;
  text-align: center;
  padding: 0;
  border-radius: 8px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  bottom: -15px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

section {
    width: 90%;
    margin: 0;
    padding: 2em 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    align-items: center; /* cross axis */
}

.sidebar {
    /* width: 25%; */
    margin: 0;
    padding: 0;
    flex: initial;
}

.large {
    /* width: 70%; */
    margin: 0;
    padding: 0%;
    flex: initial;
}

@media (min-width: 300px) and (max-width: 899px) {
    section {
        justify-content: flex-start; /* main axis */
    }

    .sidebar {
        width: 100%;
        max-width: 700px;
    }

    .large {
        width: 100%;
    }
}

@media (min-width: 900px) and (max-width: 999px) {
    section {
        justify-content: space-around; /* main axis */
    }

    .sidebar {
        width: 35%;
    }

    .large {
        width: 60%;
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    section {
        justify-content: space-around; /* main axis */
    }

    .sidebar {
        width: 30%;
    }

    .large {
        width: 65%;
    }
}

@media (min-width: 1200px) {
    section {
        justify-content: space-around; /* main axis */
    }

    .sidebar {
        width: 25%;
    }

    .large {
        width: 70%;
    }
}

/* Font styles and their media queries */
figcaption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 1.5;
    font-weight: 400;
    color: #41484d;
}

.tooltiptext {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.125em; /* 18 px */
    line-height: 1.8;
    font-weight: 400;
    color: #201b17;
}

h1 {
    font-family: Georgia, serif;
    line-height: 1.4;
    font-weight: 600;
    font-style: italic;
    color: #201b17;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.1;
    font-weight: 600;
    color: #201b17;
}

/* Media queries for fonts */
@media (min-width: 300px) and (max-width: 399px) {
    .tooltiptext {
        font-size: 0.75em; /* 12px */
    }

    h1 {
        font-size: 1.3125em; /* 21px */
    }

    h2 {
        font-size: 1.0625em; /* 17px */
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    .tooltiptext {
        font-size: 0.75em; /* 12px */
    }

    h1 {
        font-size: 1.375em; /* 22px */
    }

    h2 {
        font-size: 1.125em; /* 18 px */
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .tooltiptext {
        font-size: 0.75em; /* 12px */
    }

    h1 {
        font-size: 1.4375em; /* 23px */
    }

    h2 {
        font-size: 1.1875em; /* 19px */
    }
}

@media (min-width: 600px) {
    .tooltiptext {
        font-size: 0.75em; /* 12px */
    }

    h1 {
        font-size: 1.5em; /* 24px */
    }

    h2 {
        font-size: 1.25em; /* 20px */
    }
}