/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    margin-top: 0;
    background: #dee3eb;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 100%;
    max-width: 834px;
    margin: 2em auto;
    padding: 1em 0;
    border: 1px solid #c2c7ce; /* neutral variant 35 */
    border-radius: 12px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

nav {
    width: 90%;
    margin-bottom: 1em;
    padding: 0.25em 5%;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end; /* main axis */
    align-items: center; /* cross axis */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #4d5359; /* neutral variant 35 */
}

/* Previous and next icons */
button.nav-icon {
    width: 24px;
    margin: 0 5px;
    padding: 0;
    background: rgba(242 242 242 / 90%);
    border: 1px solid #c2c7ce;
    cursor: pointer;
}

.pano-container {
    width: 90%;
    margin: 0 5%;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
    position: relative;
}

figure.pano {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
}

figcaption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #4d5359; /* neutral variant 35 */
    margin-top: 0.25em;
}

/* Forward and Replay icons */
button.pano-icon {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    background: rgba(242 242 242 / 90%);
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 5px;
    transform: translate(-15px, -5px);
    cursor: pointer;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
}

/* Animation to fade in pano icons */
.fade {
    animation: fade 2s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

main {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start; /* cross axis */
}

section {
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
}

aside {
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

@media (min-width: 300px) and (max-width: 399px) {
    main {
        justify-content: center; /* main axis */
    }

    section {
        width: 100%;
        height: 12em;
    }

    aside {
        width: 50%;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    main {
        justify-content: center; /* main axis */
    }

    section {
        width: 100%;
        height: 12em;
    }

    aside {
        width: 40%;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    main {
        justify-content: space-between; /* main axis */
    }

    section {
        width: 60%;
        height: 15em;
    }

    aside {
        width: 35%;
    }
}

@media (min-width: 600px) {
    main {
        justify-content: space-between; /* main axis */
    }

    section {
        width: 70%;
        min-height: 12em;
    }

    aside {
        width: 25%;
    }
}

.thumb {
    width: 100%;
    max-width: 200px;
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
}

/* Fonts */
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.8;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: #42474e; /* neutral variant 30 */
}

h2 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    font-style: italic;
    line-height: 1.4;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #42474e; /* neutral variant 30 */
}

@media (min-width: 300px) and (max-width: 399px) {
    p {
        font-size: 0.8125em; /* 13px */
    }

    nav {
        font-size: 0.75em; /* 12px */
    }

    figcaption {
        font-size: 0.75em; /* 12px */
        height: 2.25em; /* 36px */
    }

    h2 {
        font-size: 0.9375em; /* 15px */
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    p {
        font-size: 0.875em; /* 14px */
    }

    nav {
        font-size: 0.8125em; /* 13px */
    }

    figcaption {
        font-size: 0.8125em; /* 13px */
        height: 2.375em /* 38px */
    }

    h2 {
        font-size: 1em; /* 16px */
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    p {
        font-size: 0.9375em; /* 15px */
    }

    nav {
        font-size: 0.875em; /* 14px */
    }

    figcaption {
        font-size: 0.875em; /* 14px */
        height: 2.625em; /* 42px */
    }

    h2 {
        font-size: 1.0625em; /* 17px */
    }
}

@media (min-width: 600px) {
    p {
        font-size: 1em; /* 16px */
    }

    nav {
        font-size: 0.9375em; /* 15px */
    }

    figcaption {
        font-size: 0.9375em; /* 15px */
        height: 2.75em /* 44px */
    }

    h2 {
        font-size: 1.125em; /* 18px */
    }
}