/* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1280,20,1.25,2,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --fs-1: clamp(0.8rem, 0.7333rem + 0.3333vw, 1rem);
  --fs0: clamp(1rem, 0.9167rem + 0.4167vw, 1.25rem);
  --fs1: clamp(1.25rem, 1.1458rem + 0.5208vw, 1.5625rem);
  --fs2: clamp(1.5625rem, 1.4323rem + 0.651vw, 1.9531rem);
}

/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    margin-top: 0;
    margin-bottom: 0;
    background: #f9f9ff; /* surface */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.full-width-container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    flex: initial;
    position: sticky;
    top: 0;
    z-index: -1;
}

figure.full-width  {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.full-width-title {
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.full-width-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.full-width-caption {
    width: 90vw;
    margin: 0;
    padding: 0.25em 5vw;
    color: #fff;
    background: rgba(0 0 0 / 80%);
    position: fixed;
    left: 0;
    bottom: 0;
}

section {
    width: 90%;
    margin-top: 110vh;
    padding: 0 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
}

section:first-of-type {
    margin-top: 0;
}

section:last-of-type {
    margin-bottom: 20vh;
}

.content-box {
    margin: 0;
    background: #f9f9ff; /* surface */
    border-radius: 6px;
    flex: initial;
}

.content-box-title {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

figure.portrait {
    margin: 0;
    padding: 0;
}

.portrait-caption {
    color: #43474e; /* on surface variant */
}

.content-box-text {
    margin: 0;
    padding: 0;
}

.replay-box {
    width: 100%;
    margin-bottom: 1em;
    padding: 0.25em 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
}

figure.replay-icon {
    margin: 0;
    padding: 0.25em 1em;
    background: #ededf4; /* onSurface */
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

figure.replay-icon:hover {
    cursor: pointer;
    background: #e7e8ee; /* surface container high */
}

.fade {
    animation: fade-in 2s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Media queries for content boxes */
@media (min-width: 300px) and (max-width: 499px) {
    .content-box {
        width: 80%;
        padding: 0 5%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
    }

    figure.portrait {
        width: 45%;
    }

    .content-box-text  {
        width: 100%;
    }

    h2 {
        text-align: center;
    }
}

@media (min-width: 500px) and (max-width: 699px) {
    .content-box {
        width: 65%;
        padding: 0 2.5%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
    }

    figure.portrait {
        width: 45%;
    }

    .content-box-text  {
        width: 100%;
    }

    h2 {
        text-align: center;
    }
}

@media (min-width: 700px) and (max-width: 899px) {
    .content-box {
        width: 50%;
        padding: 0 2.5%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
    }

    figure.portrait {
        width: 45%;
    }

    .content-box-text  {
        width: 100%;
    }

    h2 {
        text-align: center;
    }
}

@media (min-width: 900px) and (max-width: 1099px) {
    .content-box {
        width: 50%;
        padding: 0 2.5%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    figure.portrait {
        width: 30%;
    }

    .content-box-text  {
        width: 65%;
    }

    h2 {
        text-align: left;
    }
}

@media (min-width: 1100px) {
    .content-box {
        width: 45%;
        padding: 0 2.5%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    figure.portrait {
        width: 30%;
    }

    .content-box-text  {
        width: 65%;
    }

    h2 {
        text-align: left;
    }
}

/* FONTS */
h1 {
    font-family: Bevan, serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs2);
    line-height: 1.5;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #fff;
}

h2 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; /* 100 - 900 */
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: var(--fs1);
    line-height: 1.2;
    color: #191c20; /* on surface */
}

p {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 100 - 900 */
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: var(--fs0);
    line-height: 1.5;
    margin-top: 0.25em;
    color: #191c20; /* on surface */
}

.emphasis {
    font-weight: 600;
}

figcaption {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 100 - 900 */
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: var(--fs-1);
    line-height: 1.6;
}